{% extends 'layout.html' %}

{% block title %}
<title>Task list</title>
{% endblock %}


{% block body %}
<h1>Dashboard</h1>

  <body>


    <table class="table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Phone</th>
          <th scope="col">Tasks</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Nektarios</td>
          <td>Axiotis</td>
          <td>(699)1234-567</td>
          <td>Nothing</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Socrates</td>
          <td>Koumpardas</td>
          <td>(699)1234-567</td>
          <td>Nothing</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Aristeidis</td>
          <td>Kypriotis</td>
          <td>(699)1234-567</td>
          <td>Nothing</td>
        </tr>
      </tbody>
    </table>


  </body>
  
  </html>

{% endblock %}

