<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}Login{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% block body %}
    <form method="POST">
        <label>NAME</label><br>
        <input name="name" type="text" placeholder="Write your name"><br><br>
        <label>USERNAME</label><br>
        <input name="username" type="email" placeholder="Write your username"><br><br>
        <label>PASSWORD</label>
        <input name="password" type="password" placeholder="write your password"><br><br>
        <input type="submit" value="CREATE USER"><br><br>
    </form>
    
    
    {% endblock %}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>